html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
body,
html {
   height: 100%;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
input {
   border: 0;
   outline: none;
}
a {
   text-decoration: none;
}

button {
   cursor: pointer;
}

/*-----------------*/

.link {
   display: inline-block;
   padding: 12px 24px;
   text-align: center;
   border-radius: 5px;
   text-decoration: none;
   background-color: transparent;
}

.link-b {
   border: 1px solid #d7dbec;
}

.link:hover {
   background-color: #f5f6fa;
}

.link.disabled {
   pointer-events: none;
   cursor: default;
   background-color: #d7dbec;
   color: #ffffff;
}

/* .link-blue,
.link-blue:focus {
   color: #ffffff;
   background-color: #1e5eff;
}
.link-m-blue,
.link-m-blue:active,
.link-m-blue:focus {
   color: #1e5eff;
   background-color: #d9e4ff;
}
.link-trans,
.link-trans:active,
.link-trans:focus {

   background-color: transparent;
}
.link-blue:hover {
   background-color: #4f81ff;
}
.link-m-blue:hover {
   background-color: #ecf2ff;
}
.link:hover {
   background-color: #d7dbec;
}
.link-blue:active {
   background-color: #336dff;
} */

body {
   display: flex;
   justify-content: center;
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 400;
   background-color: #f5f6fa;
   overflow-x: hidden;
}

body.hidden {
   overflow-y: hidden;
}
.container {
   display: grid;
   column-gap: 30px;
   grid-template-rows: auto 1fr;
   grid-template-columns: 250px auto minmax(auto, 1000px);
   grid-template-areas:
      "header header   header"
      "menu   settings content";
}

.header {
   grid-area: header;
   display: grid;
   padding: 16px 28px 16px 20px;
   justify-content: space-between;
   align-items: center;
   height: 68px;
   width: 100%;
   background-color: #ffffff;
   box-sizing: border-box;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto;
   grid-template-areas: "logo head-form head-menu";
   gap: 100px;
}

.header__logo {
   grid-area: logo;
}

.burger {
   display: none;
}

.closer {
   display: none;
}

.burger {
   display: none;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   cursor: pointer;
}

.burger img {
   padding: 5px;
   width: 30px;
}
.burger-container {
   grid-area: burger-container;
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-areas: "head-form head-menu";
}

.header__btn-chat {
   grid-area: chat;
   padding: 5px;
}

.header__btn-bell {
   grid-area: bell;
   display: inline-block;
   position: relative;
   padding: 5px;
}

.header__btn-bell::before {
   content: "5";
   position: absolute;
   right: 1px;
   top: 1px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background-color: #1e5eff;
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 16px;
   font-size: 12px;
   pointer-events: none;
}

.header__menu {
   grid-area: head-menu;
   display: grid;
   grid-template-columns: min-content min-content min-content min-content 1fr;
   grid-template-areas: "chat bell profile settings ";
   gap: 10px;
   align-items: center;
   padding: 5px 10px;
   /*   align-items: center;
   gap: 10px; */
}
.header__profile {
   grid-area: profile;
   display: flex;
   align-items: center;
   white-space: nowrap;
   margin: 0 8px 0 21px;
   gap: 12px;
}
.header__profile-name {
   color: #5a607f;
}

.settings {
   grid-area: settings;
   padding: 5px;
}

.form-in-burger {
   display: none;
}
.header__form {
   grid-area: head-form;
}

.search-input {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   border-radius: 5px;
   width: 100%;
   flex: 1 1 auto;
}

.search-input input {
   background: url("./images/icons/Search.svg") 16px 50% #ffffff no-repeat;
   flex: 1 1 auto;
   font-size: 14px;
   padding: 8px;
   font-weight: 500;
   line-height: 20px;
   color: #484c63;
   border-radius: 5px;
   padding-left: 48px;
   padding-right: 15px;
}
.search-input input::placeholder {
   color: #5a607f;
}

.input-label {
   color: #a1a7c4;
   font-size: 12px;
   padding-left: 45px;
}

.links {
   grid-area: menu;
   padding: 16px;
   border-right: 1px solid #d7dbec;
}

.unvisible {
   position: fixed;
   left: 100%;
}
.links-list {
   width: 100%;
}
.link-item {
   width: 100%;
   display: flex;
   align-items: center;
}

.link-item a {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   padding: 12px 16px;
   gap: 16px;
   color: #5a607f;
}

.link-item a.active {
   background-color: #1e5eff;
   color: #ffffff;
}

.section-name {
   font-family: Inter;
   font-size: 12px;
   font-weight: 600;
   line-height: 16px;
   letter-spacing: 0px;
   color: #a1a7c4;
   margin: 28px 0 12px 0;
}

.queries {
   position: relative;
}

.queries::after {
   position: absolute;
   right: 7px;
   top: 50%;
   transform: translateY(-50%);
   content: "16";
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: 16px;
   font-size: 12px;
   padding: 0 6px;
   background-color: #131523;
   color: #ffffff;
   font-weight: 700;
}

.profil-settings {
   grid-area: settings;
   display: flex;
   flex-direction: column;
   width: 255px;
   padding: 30px 0 0 10px;
}
.back {
   font-size: 13px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0px;
   display: flex;
   align-items: center;
   gap: 4px;
   color: #5a607f;
}
.profil-settings .title {
   color: #131523;
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   margin-bottom: 30px;
}

.title {
   font-size: 20px;
   font-weight: 700;
   line-height: 28px;
   color: #131523;
}

.sub-title {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #131523;
}

.content {
   grid-area: content;
   display: flex;
   flex-direction: column;
   padding: 72px 30px 30px 0;
}

.question-btn {
   display: inline-block;
   padding: 8px 16px;
   text-align: center;
   border-radius: 5px;
   text-decoration: none;
   background-color: transparent;
   border: 1px solid #d7dbec;
   color: #1e5eff;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0px;
}

.footer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   gap: 29px;
}
.col {
   background-color: #ffffff;
   border-radius: 10px;
   padding: 28px;
}

.col .sub-title {
   padding: 12px 0 20px 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0px;
   color: #131523;
}

.footer-link {
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   color: #1e5eff;
}

.wripper {
   display: flex;
   flex-direction: column;
   gap: 28px;
   margin-top: 4px;
   padding: 28px;
   background-color: #ffffff;
   border-radius: 7px 7px 0 0;
}
.wripper .title {
   padding-bottom: 24px;
}

.wripper .block {
   border-bottom: 1px solid #e6e9f4;
   padding-bottom: 28px;
}

.wripper .block:last-child {
   border-bottom: 0;
   padding-bottom: 28px;
}

.recomm {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   color: #5a607f;
   margin-top: 24px;
   padding: 20px;
   background-color: #f5f6fa;
   border-radius: 5px;
}

.steps-list {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding-top: 20px;
   counter-reset: num;
}

.step {
   position: relative;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0px;
   color: #131523;
   display: flex;
   gap: 24px;
}

.step::before {
   display: flex;
   align-items: center;
   justify-content: center;
   counter-increment: num;
   content: counter(num);
   min-width: 36px;
   width: 36px;
   height: 36px;
   border-radius: 50%;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   color: #5a607f;
   background-color: #f5f6fa;
}

.tab {
   display: flex;
   flex-direction: column;
}

.tab-nav > input[type="radio"] {
   display: none;
}

.tab-content {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0px;
   color: #131523;
   display: none;
}

#content-1:has(~ .tab-nav > #tab-btn-1:checked),
#content-2:has(~ .tab-nav > #tab-btn-2:checked),
#content-3:has(~ .tab-nav > #tab-btn-3:checked) {
   display: block;
}

.tab-nav {
   display: flex;
   flex-wrap: wrap;
   border-bottom: 1px solid #dee2e6;
   margin-bottom: 1rem;
   order: -1;
}

.tab-nav > label {
   display: block;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0px;
   padding-bottom: 14px;
   margin-right: 32px;
   color: #5a607f;
   text-decoration: none;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
   position: relative;
}

.tab-nav > input[type="radio"] + label::before {
   content: "";
   width: 0%;
   height: 1px;
   background-color: transparent;
   transition: width 0.15s ease-in-out, height 0.15s ease-in-out,
      background-color 0.15s ease-in-out;
}

.tab-nav > input[type="radio"]:checked + label {
   color: #1e5eff;
   cursor: pointer;
}

.tab-nav > input[type="radio"]:checked + label::before {
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #1e5eff;
}

/* Отдельный блок вопроса*/
.question {
   border-top: 1px solid #e6e9f4;
   margin-bottom: 40px;
   padding: 40px 28px;
   background-color: #ffffff;
   border-radius: 0 0 7px 7px;
}

.question .title {
   margin-bottom: 20px;
}

.question .block {
   border: 0;
   padding: 0;
}

.buttons {
   margin-bottom: 12px;
}

.count-help {
   font-size: 12px;
   font-weight: 400;
   line-height: 16px;
   color: #5a607f;
}

@media screen and (max-width: 1100px) {
   .container {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: auto minmax(auto, 1000px);
      grid-template-areas:
         "header header"
         "settings   content "
         "settings   content ";
   }

   .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo head-form burger";
      gap: 20px;
   }

   .header__menu {
      grid-template-areas: "profile settings chat bell";
      gap: 10px;
      align-items: center;
      padding: 15px;
   }

   .burger {
      display: block;
   }

   .closer {
      display: block;
      position: fixed;
      right: 30px;
      top: 18px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      pointer-events: none;
   }

   .closer.active {
      pointer-events: all;
   }

   .closer::after,
   .closer::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      border-radius: 10px;
      background-color: #3a3c48;
   }

   .closer::after {
      transform: translateY(0) rotate(0);
      transition: transform ease 0.2s;
   }
   .closer.active::after {
      transform: translateY(12px) rotate(45deg);
   }
   .closer::before {
      transform: translateY(0) rotate(0);
      transition: transform ease-in-out 0.1s;
   }
   .closer.active::before {
      transform: translateY(12px) rotate(-45deg);
   }

   .header__menu {
      grid-area: head-menu;
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      left: 100%;
      opacity: 0;
      z-index: 1999;
      transition: left ease-in-out 0.5s;
      padding: 10px;
   }

   .header__menu.active {
      left: 0;
      opacity: 1;
   }
   .links {
      position: fixed;
      right: 100%;
      z-index: 980;
      border: none;
   }

   .links.active {
      padding-top: 70px;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #eaedf9;
      transition: right ease-in-out 0.5s;
      overflow: auto;
   }

   .profil-settings {
      padding-left: 30px;
   }

   .content {
      padding: 30px;
   }
}

@media screen and (max-width: 750px) {
   .container {
      grid-template-rows: auto 1fr;
      grid-template-columns: auto minmax(auto, 1000px);
      grid-template-areas:
         "header header"
         "settings  settings"
         "content   content";
   }
   .header {
      justify-content: space-between;
      grid-template-columns: auto auto;
      grid-template-areas: "logo  burger";
   }

   .header__menu {
      grid-template-areas:
         "profile settings chat bell  ..."
         "head-form head-form head-form head-form head-form";
      gap: 10px;
      align-items: center;
      padding: 15px;
   }

   .header__form {
      display: none;
   }

   .form-in-burger {
      border: 1px solid #d7dbec;
      border-radius: 5px;
      grid-area: head-form;
      display: block;
   }

   .links.active {
      padding-top: 130px;
   }
}

@media screen and (max-width: 530px) {
   .footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 10px;
   }
}

@media screen and (max-width: 410px) {
   .header__menu {
      grid-template-areas:
         "profile settings .."
         "bell chat .."
         "head-form head-form head-from";
   }
   .settings {
      position: relative;
   }

   .settings:hover > span {
      display: flex;
      flex-direction: column;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: #ccc;
   }

   .tab-nav > label {
      margin-right: 10px;
      font-size: 12px;
   }
}
